/* Fonts */

*{
    padding: 0%;
    margin: 0%;
    background-color: #F5F5F5;
}


#head{
    top: 1px;
    bottom: 0;
    z-index: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    background-color: aqua;
}
#main-head{
    display: flex;
}
#heading-1{
    position: absolute;
    top: 150px;
    left: 50px;
    font-size: 110px;
    z-index: 2;
    display: inline;
    background-color: aqua;
}
#heading-2{
    position: absolute;
    top: 400px;
    left: 52px;
    z-index: 2;
    display: inline;
    background-color: aqua;
}
#btn{
    background-color: aliceblue;
    position: absolute;
    top: 65%;
    left: 50px;
    z-index: 2;
    background-color: aqua;
}
#explore{
    font-size: 30px;
    text-decoration: none;
    color: black;
}
#btn div{

    padding: 20px;
    border: 1px solid black;
}
#head-image{
    position: absolute;
    right: 30px;
    top: 150px;
    width: 450px;
    height: 450px;
    border-radius: 50%;
}
#about{
    display: flex;
    text-align: center;
    justify-content: center;
    flex-direction: column;

}
#about p{
    text-align: center;
    padding: 40px;
    margin: 0 auto;
    width: 60%;
    border: 2px solid red;
    border-radius: 40px;
}

#service-head{
    text-align: center;
}
#services{
    display: flex;
    flex-direction: column;
    justify-content: center;
}









@media only screen and (max-width: 1100px) {
    #heading-1{
        text-align: center;
        margin: 0 auto;
        font-size:5rem;
        z-index: 2;
        display: inline;
        background-color: aqua;
    }
    #heading-2{
        position: absolute;
        top: 400px;
        left: 52px;
        z-index: 2;
        display: inline;
        background-color: aqua;
    }
    #btn{
        background-color: white;
        position: absolute;
        top: 65%;
        left: 25%;
        z-index: 2;
        border: 1px solid black;
        border-radius: 2px;
    }
  
    #head-image{
        /* display: none; */
        position: absolute;
        right: 30px;
        top: 150px;
        width: 450px;
        height: 450px;
        border-radius: 50%;
    }
  }