/* Fonts */

*{
    padding: 0%;
    margin: 0%;
    background-color:#F7ECDE;
    font-family: 'Nunito', sans-serif;
    /* background-color: rgb(122, 255, 255) */
    color: #54BAB9;
}
#head{
    top: 1px;
    bottom: 0;
    z-index: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    /* background-color: rgb(122, 255, 255); */
}
#main-head{
    display: flex;
}
#heading-1{
    position: absolute;
    top: 150px;
    left: 50px;
    font-size: 110px;
    z-index: 2;
    display: inline;
    /* background-color: rgb(122, 255, 255); */
}
#heading-2{
    position: absolute;
    top: 400px;
    left: 52px;
    z-index: 2;
    display: inline;
    /* background-color:rgb(122, 255, 255); */
}
#btn{
    /* background-color: aliceblue; */
    position: absolute;
    top: 65%;
    left: 50px;
    z-index: 2;
    /* background-color: rgb(122, 255, 255); */
}
#explore{
    font-size: 30px;
    text-decoration: none;
    color: black;
}
#btn div{

    padding: 20px;
    border: 1px solid black;
}
#head-image{
    position: absolute;
    right: 30px;
    top: 150px;
    width: 450px;
    height: 450px;
    border-radius: 50%;
}
#about{
    display: flex;
    text-align: center;
    justify-content: center;
    flex-direction: column;

}




#about p{
    /* text-align: center; */
    padding: 40px;
    margin: 0 auto;
    width: 60%;
    color: #54BAB9;
    border : 2px solid  #54BAB9;
    border-radius: 10px;
    background-color: #F7ECDE ;
}

#about p:hover{
    background-color:#54BAB9 ;
    color: #F7ECDE;

}

.about-head{
    font-size: 50px;
}












#service-one{
    text-align: center;
    margin: 20px;
    font-size: 50px;
}

#services{

    display: flex;
    margin: 0 auto;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#services div{
    font-size: 20px;
    margin-top: 10px;
    margin-bottom: 15px;
}

#services img{
    height: 400px;
    width: 400px;
    border-radius: 50%;
}








#ben-head{
    text-align: center;
    padding: 30px;
    font-size: 30px;
}
#ben-p{
    text-align: center;
    padding: 30px;
    width: 90%;
    margin: 0 auto;
    color: #54BAB9;
    border : 2px solid  #54BAB9;
    border-radius: 10px;
    background-color: #F7ECDE ;
    font-size: 25px;
}

#ben-p:hover{
    background-color:#54BAB9 ;
    color: #F7ECDE;

}



#footer-text{
    font-size:30px;
  }
  a{
    text-decoration: none;
  }
  #data1 ul{
  display: inline;
text-align: center;
  }
  #data2{
 
    display: inline;
    text-align: center;
  }





@media only screen and (max-width: 1100px) {
    #heading-1{
        text-align: center;
        margin: 0 auto;
        font-size:5rem;
        z-index: 2;
        display: inline;
        background-color: aqua;
    }
    #heading-2{
        position: absolute;
        top: 400px;
        left: 52px;
        z-index: 2;
        display: inline;
        background-color: aqua;
    }
    #btn{
        background-color: white;
        position: absolute;
        top: 65%;
        left: 25%;
        z-index: 2;
        border: 1px solid black;
        border-radius: 2px;
    }
  
    #head-image{
        /* display: none; */
        position: absolute;
        width: 80px;
        height: 100px;
        right: 10px;
        top: 150px;
        width: 450px;
        height: 450px;
        border-radius: 50%;
    }
  }